#skill {
  width: 73%;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  background-color: #444242;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #403f
}
#tools {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  padding: 40px 0;
  box-sizing: border-box;
}
#tools div {
  border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: white;
    padding: 20px;
    background-color: rgb(71, 155, 189);
}
h1{
  color: white;
  margin: 10px;
}

